@import "path";
//////////////////////////////////////////////////////

@font-face {
  font-family: 'NeoSansProRegular';
  src: url('../fonts/NeoSansPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NeoSansPro-Regular.otf')  format('opentype'),
  url('../fonts/NeoSansPro-Regular.woff') format('woff'),
  url('../fonts/NeoSansPro-Regular.ttf')  format('truetype'),
  url('../fonts/NeoSansPro-Regular.svg#NeoSansPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NeoSansPro-Light';
  src: url('../fonts/NeoSansPro-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NeoSansPro-Light.otf')  format('opentype'),
  url('../fonts/NeoSansPro-Light.woff') format('woff'),
  url('../fonts/NeoSansPro-Light.ttf')  format('truetype'),
  url('../fonts/NeoSansPro-Light.svg#NeoSansPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NeoSansPro-Medium';
  src: url('../fonts/NeoSansPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NeoSansPro-Medium.woff') format('woff'),
  url('../fonts/NeoSansPro-Medium.ttf')  format('truetype'),
  url('../fonts/NeoSansPro-Medium.svg#NeoSansPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


$em-base: 15px;
$ff-nspr: 'NeoSansProRegular';
$ff-nsplig: 'NeoSansPro-Light';
$ff-nspm: 'NeoSansPro-Medium';

html{
  font-size:$em-base;
}

body{
 
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b{
  font-family : "NeoSansProRegular";
  font-weight : normal;
  margin : 0;
}

h1{
  font-size : rem(40);
}
h2{
  font-size : rem(40);
}
h3{
  
}
h4{
  
}
h5{
  
}
h6{
  
}

strong{
  
}
b{
  
}

p{
  
}

i{
  display : inline-block;
}


ul{
  padding         :0;
  margin          :0;
  list-style-type :none;
}

button{
  &:focus{
    outline :none;
  }
}


.left{
  float :left;
}

.right{
  float :right;
}

.both:after{
  clear   :both;
  content :"";
  display :block;
  float   :none;
  margin  :0;
  padding :0;
}

.cr{
  float     :none;
  clear     :both;
  margin    :0;
  padding   :0;
  font-size :0.1px;
  display   :block;
}

.outer{
  &:before{
    content        :'';
    display        :inline-block;
    height         :100%;
    vertical-align :middle;
  }
}