@media screen and (max-width: 1326px) {
  .button-menu{
    position: fixed;
    top: 20px;
    left: 10px;
  }
  .phone{
    right: 10px;
    top: 20px;
    position: fixed;
  }
}

@media screen and (max-width: 1129px) {
  .nav-box {
    .item-nav {
      width: 200px;
      .top {
        strong {
          margin: 10px 0 0;
        }
        
      }
    }

  }
  
  .nav-box {
    .nva-wr {
      left: -15px;
    }
    .diz {
      left: 17px;
      top: 160px;
    }
    .raz{
      left: 220px;
      top: -9px;
    }
    .pod{
      left: 520px;
      top: -9px;
    }
    .mar{
      left: 700px;
      top: 160px;
    }
  }
  
}

@media screen and (max-width: 991px) {
  .nav-box {
    min-height: 360px;
    .box-wr-nav{
      min-height: 360px;
    }
    .nva-wr {
      top: -36px;
      left: -11px;
      width: 220px;
      height: 220px;
      padding: 100px 35px 0;
    }
    .diz{
      left: 0;
    }
    .raz {
      left: 150px;
    }
    .pod {
      left: 400px;
    }
    .mar{
      left: 525px;
    }
  }
  .item-work {
    img {
      height: 200px;
    }
  }

  .bx-controls{
    &:after,
    &:before {
      width: 40%;
    }
  }
  .our-contacts {
    width: auto;
  }
  .list-con-our {
    padding: 0 30px;
  }


  .we-trusted-list__img{
    width:100%;
  }

  .list-rates__item {
    width: 30%;
    height: 100%;
  }

  .how-works:before{
    display: none;
  }
  .why-box{
    padding:30px 0;
  }
  .why-box-list{
    padding:20px 0 0;
  }
  .why-box-list__item{
    width:49%;
    padding-bottom: 20px;
    &-big{
      width:100%;
    }
  }

  .why-box-btn {
    padding: 50px 0 0;
  }

  .customer-two{
    br{
      display: none;
    }
  }
  
}

@media screen and (max-width: 767px) {
  .header-top{
    padding: 0 20px;
  }
  .nav-box{
    min-height: 445px;
    .box-wr-nav{
      min-height: 0;
      padding: 40px 0;
    }
    .item-nav{
      position: relative;
      top: 0;
      left: 10%;
      float: left;
      margin-left: 25px;
      height: 180px;
      .top{
        text-align: left;
      }
    }
  }

  .slid-reviews {
    .item {
      p {
        height: 200px;
        overflow: hidden;
        padding: 14px 10px;
      }
    }
  }

  .bx-controls{
    &:after,
    &:before {
      width: 35%;
    }
  }

  .label-brend {
    li {
      margin: 0 0 10px;
      width: 32%;
      text-align: center;
    }
  }

  .list-methodol{
    li {
      width: 100%;
      padding: 10px 0;
      color: #818181;
    }
  }

  .our-plus{
    li {
      padding: 15px 0;
    }
  }
  .titles-our {
    padding: 10px 20px 60px;
  }

  .list-con-our {
    padding: 0 15px 30px;
  }

  .web-pusk-box {
    min-height: 870px;
  }



  .list-rates__item {
    width: 100%;
    margin:0;
  }
  .listUslug{
    padding:15px;
  }
  
  .listUslug__item{
    padding:12px 0 12px 40px;
    &:before{
      left:0;
    }
  }


  
}

@media screen and (max-width: 600px) {
  .head-two{
    padding:20px 15px;
  }
  .order__h,
  .customer-two .line-h,
  .we-trusted__h,
  .why-box__h,
  .how-works__h,
  .how-much-h,
  .h2-big{
    font-size:rem(35);
    line-height:40px;
    padding:25px 0;
  }
  .order-dev {
    padding: 28px 15px 0;
  }
  .head-two-info,
  .logos{
    float: none;
    text-align: center;
  }
  .head-two-btn{
    display: block;
    padding:20px 0;
  }
  .how-works-list{
    max-width: 320px;
    margin:0 auto;
  }

  .how-works-list__item{
    width:100%;
    &:before{
      display: none;
    }
  }
  .why-box-list{
    max-width:320px;
    margin:0 auto;
  }

  .why-box-list__item{
    width:100%;
  }

  .why-box{
    background: none;
    position: relative;
    &:before{
      content: '';
      background:  url("../images/why-box.jpg") 100% 0 no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      width: 100%;
      height:1200px;
      position: absolute;
      top:0;
      left:0;
      right:0;
      z-index:-1;
    }
  }

  .order-dev__item.item-maps,
  .order-dev__item.item-form{
    width:100%;
    float: none;
    padding:0 0 10px;
  }




  .why-box-text{
    padding:0 15px;
  }
  .how-works{
    padding: 0;
  }
  .we-trusted,
  .we-trusted-list,
  .how-works-list{
    padding:20px 0;
  }
  .customer-two{
    margin:0;
  }
  .customer-reviews{
    min-height:100%;
  }
}







@media screen and (max-width: 543px) {
  .nav-box {
    min-height: 880px;
    .box-wr-nav {
      min-height: 860px;
    }
    .item-nav {
      left: 50%;
      float: none;
      margin-left: -100px;
    }
  }
  .item-work{
    a {
      padding-top: 10%;
    }
  }
  .item-our {
    margin: 50px auto;
  }
  .label-brend {
    li {
      width: 48%;
    }
  }

  .titles-our {
    padding: 10px 20px 0;
  }
  .web-pusk-box {
    min-height: 1230px;
  }
  .two-con{
    text-align: center;
  }


  .we-trusted-list__item{
    width:100%;
    float: none;
    margin:15px 0;
  }
  .customer-two .bx-controls i {
    margin: 0 65px;
  }
  
}