/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$brend-1-name: 'brend-1';
$brend-1-x: 244px;
$brend-1-y: 0px;
$brend-1-offset-x: -244px;
$brend-1-offset-y: 0px;
$brend-1-width: 110px;
$brend-1-height: 59px;
$brend-1-total-width: 354px;
$brend-1-total-height: 347px;
$brend-1-image: '../images/sprite.png';
$brend-1: (244px, 0px, -244px, 0px, 110px, 59px, 354px, 347px, '../images/sprite.png', 'brend-1', );
$burger-button-name: 'burger-button';
$burger-button-x: 144px;
$burger-button-y: 73px;
$burger-button-offset-x: -144px;
$burger-button-offset-y: -73px;
$burger-button-width: 23px;
$burger-button-height: 18px;
$burger-button-total-width: 354px;
$burger-button-total-height: 347px;
$burger-button-image: '../images/sprite.png';
$burger-button: (144px, 73px, -144px, -73px, 23px, 18px, 354px, 347px, '../images/sprite.png', 'burger-button', );
$in-ico-name: 'in-ico';
$in-ico-x: 322px;
$in-ico-y: 184px;
$in-ico-offset-x: -322px;
$in-ico-offset-y: -184px;
$in-ico-width: 21px;
$in-ico-height: 21px;
$in-ico-total-width: 354px;
$in-ico-total-height: 347px;
$in-ico-image: '../images/sprite.png';
$in-ico: (322px, 184px, -322px, -184px, 21px, 21px, 354px, 347px, '../images/sprite.png', 'in-ico', );
$list-chek-name: 'list-chek';
$list-chek-x: 138px;
$list-chek-y: 100px;
$list-chek-offset-x: -138px;
$list-chek-offset-y: -100px;
$list-chek-width: 54px;
$list-chek-height: 53px;
$list-chek-total-width: 354px;
$list-chek-total-height: 347px;
$list-chek-image: '../images/sprite.png';
$list-chek: (138px, 100px, -138px, -100px, 54px, 53px, 354px, 347px, '../images/sprite.png', 'list-chek', );
$logo-footer-name: 'logo-footer';
$logo-footer-x: 0px;
$logo-footer-y: 0px;
$logo-footer-offset-x: 0px;
$logo-footer-offset-y: 0px;
$logo-footer-width: 106px;
$logo-footer-height: 100px;
$logo-footer-total-width: 354px;
$logo-footer-total-height: 347px;
$logo-footer-image: '../images/sprite.png';
$logo-footer: (0px, 0px, 0px, 0px, 106px, 100px, 354px, 347px, '../images/sprite.png', 'logo-footer', );
$methodol-1-name: 'methodol-1';
$methodol-1-x: 187px;
$methodol-1-y: 173px;
$methodol-1-offset-x: -187px;
$methodol-1-offset-y: -173px;
$methodol-1-width: 52px;
$methodol-1-height: 40px;
$methodol-1-total-width: 354px;
$methodol-1-total-height: 347px;
$methodol-1-image: '../images/sprite.png';
$methodol-1: (187px, 173px, -187px, -173px, 52px, 40px, 354px, 347px, '../images/sprite.png', 'methodol-1', );
$methodol-2-name: 'methodol-2';
$methodol-2-x: 192px;
$methodol-2-y: 100px;
$methodol-2-offset-x: -192px;
$methodol-2-offset-y: -100px;
$methodol-2-width: 51px;
$methodol-2-height: 43px;
$methodol-2-total-width: 354px;
$methodol-2-total-height: 347px;
$methodol-2-image: '../images/sprite.png';
$methodol-2: (192px, 100px, -192px, -100px, 51px, 43px, 354px, 347px, '../images/sprite.png', 'methodol-2', );
$methodol-3-name: 'methodol-3';
$methodol-3-x: 200px;
$methodol-3-y: 223px;
$methodol-3-offset-x: -200px;
$methodol-3-offset-y: -223px;
$methodol-3-width: 44px;
$methodol-3-height: 43px;
$methodol-3-total-width: 354px;
$methodol-3-total-height: 347px;
$methodol-3-image: '../images/sprite.png';
$methodol-3: (200px, 223px, -200px, -223px, 44px, 43px, 354px, 347px, '../images/sprite.png', 'methodol-3', );
$methodol-4-name: 'methodol-4';
$methodol-4-x: 156px;
$methodol-4-y: 223px;
$methodol-4-offset-x: -156px;
$methodol-4-offset-y: -223px;
$methodol-4-width: 44px;
$methodol-4-height: 44px;
$methodol-4-total-width: 354px;
$methodol-4-total-height: 347px;
$methodol-4-image: '../images/sprite.png';
$methodol-4: (156px, 223px, -156px, -223px, 44px, 44px, 354px, 347px, '../images/sprite.png', 'methodol-4', );
$methodol-5-name: 'methodol-5';
$methodol-5-x: 106px;
$methodol-5-y: 73px;
$methodol-5-offset-x: -106px;
$methodol-5-offset-y: -73px;
$methodol-5-width: 38px;
$methodol-5-height: 25px;
$methodol-5-total-width: 354px;
$methodol-5-total-height: 347px;
$methodol-5-image: '../images/sprite.png';
$methodol-5: (106px, 73px, -106px, -73px, 38px, 25px, 354px, 347px, '../images/sprite.png', 'methodol-5', );
$methodol-equally-name: 'methodol-equally';
$methodol-equally-x: 167px;
$methodol-equally-y: 73px;
$methodol-equally-offset-x: -167px;
$methodol-equally-offset-y: -73px;
$methodol-equally-width: 25px;
$methodol-equally-height: 14px;
$methodol-equally-total-width: 354px;
$methodol-equally-total-height: 347px;
$methodol-equally-image: '../images/sprite.png';
$methodol-equally: (167px, 73px, -167px, -73px, 25px, 14px, 354px, 347px, '../images/sprite.png', 'methodol-equally', );
$methodol-plus-name: 'methodol-plus';
$methodol-plus-x: 322px;
$methodol-plus-y: 137px;
$methodol-plus-offset-x: -322px;
$methodol-plus-offset-y: -137px;
$methodol-plus-width: 26px;
$methodol-plus-height: 26px;
$methodol-plus-total-width: 354px;
$methodol-plus-total-height: 347px;
$methodol-plus-image: '../images/sprite.png';
$methodol-plus: (322px, 137px, -322px, -137px, 26px, 26px, 354px, 347px, '../images/sprite.png', 'methodol-plus', );
$nav-ico-1-name: 'nav-ico-1';
$nav-ico-1-x: 244px;
$nav-ico-1-y: 59px;
$nav-ico-1-offset-x: -244px;
$nav-ico-1-offset-y: -59px;
$nav-ico-1-width: 78px;
$nav-ico-1-height: 78px;
$nav-ico-1-total-width: 354px;
$nav-ico-1-total-height: 347px;
$nav-ico-1-image: '../images/sprite.png';
$nav-ico-1: (244px, 59px, -244px, -59px, 78px, 78px, 354px, 347px, '../images/sprite.png', 'nav-ico-1', );
$nav-ico-2-name: 'nav-ico-2';
$nav-ico-2-x: 78px;
$nav-ico-2-y: 223px;
$nav-ico-2-offset-x: -78px;
$nav-ico-2-offset-y: -223px;
$nav-ico-2-width: 78px;
$nav-ico-2-height: 77px;
$nav-ico-2-total-width: 354px;
$nav-ico-2-total-height: 347px;
$nav-ico-2-image: '../images/sprite.png';
$nav-ico-2: (78px, 223px, -78px, -223px, 78px, 77px, 354px, 347px, '../images/sprite.png', 'nav-ico-2', );
$nav-ico-3-name: 'nav-ico-3';
$nav-ico-3-x: 0px;
$nav-ico-3-y: 223px;
$nav-ico-3-offset-x: 0px;
$nav-ico-3-offset-y: -223px;
$nav-ico-3-width: 78px;
$nav-ico-3-height: 77px;
$nav-ico-3-total-width: 354px;
$nav-ico-3-total-height: 347px;
$nav-ico-3-image: '../images/sprite.png';
$nav-ico-3: (0px, 223px, 0px, -223px, 78px, 77px, 354px, 347px, '../images/sprite.png', 'nav-ico-3', );
$nav-ico-4-name: 'nav-ico-4';
$nav-ico-4-x: 244px;
$nav-ico-4-y: 137px;
$nav-ico-4-offset-x: -244px;
$nav-ico-4-offset-y: -137px;
$nav-ico-4-width: 78px;
$nav-ico-4-height: 78px;
$nav-ico-4-total-width: 354px;
$nav-ico-4-total-height: 347px;
$nav-ico-4-image: '../images/sprite.png';
$nav-ico-4: (244px, 137px, -244px, -137px, 78px, 78px, 354px, 347px, '../images/sprite.png', 'nav-ico-4', );
$our-plus-1-name: 'our-plus-1';
$our-plus-1-x: 0px;
$our-plus-1-y: 100px;
$our-plus-1-offset-x: 0px;
$our-plus-1-offset-y: -100px;
$our-plus-1-width: 138px;
$our-plus-1-height: 73px;
$our-plus-1-total-width: 354px;
$our-plus-1-total-height: 347px;
$our-plus-1-image: '../images/sprite.png';
$our-plus-1: (0px, 100px, 0px, -100px, 138px, 73px, 354px, 347px, '../images/sprite.png', 'our-plus-1', );
$our-plus-2-name: 'our-plus-2';
$our-plus-2-x: 0px;
$our-plus-2-y: 173px;
$our-plus-2-offset-x: 0px;
$our-plus-2-offset-y: -173px;
$our-plus-2-width: 187px;
$our-plus-2-height: 50px;
$our-plus-2-total-width: 354px;
$our-plus-2-total-height: 347px;
$our-plus-2-image: '../images/sprite.png';
$our-plus-2: (0px, 173px, 0px, -173px, 187px, 50px, 354px, 347px, '../images/sprite.png', 'our-plus-2', );
$our-plus-3-name: 'our-plus-3';
$our-plus-3-x: 106px;
$our-plus-3-y: 0px;
$our-plus-3-offset-x: -106px;
$our-plus-3-offset-y: 0px;
$our-plus-3-width: 138px;
$our-plus-3-height: 73px;
$our-plus-3-total-width: 354px;
$our-plus-3-total-height: 347px;
$our-plus-3-image: '../images/sprite.png';
$our-plus-3: (106px, 0px, -106px, 0px, 138px, 73px, 354px, 347px, '../images/sprite.png', 'our-plus-3', );
$slid-reviews-next-name: 'slid-reviews-next';
$slid-reviews-next-x: 322px;
$slid-reviews-next-y: 59px;
$slid-reviews-next-offset-x: -322px;
$slid-reviews-next-offset-y: -59px;
$slid-reviews-next-width: 19px;
$slid-reviews-next-height: 36px;
$slid-reviews-next-total-width: 354px;
$slid-reviews-next-total-height: 347px;
$slid-reviews-next-image: '../images/sprite.png';
$slid-reviews-next: (322px, 59px, -322px, -59px, 19px, 36px, 354px, 347px, '../images/sprite.png', 'slid-reviews-next', );
$slid-reviews-prev-name: 'slid-reviews-prev';
$slid-reviews-prev-x: 322px;
$slid-reviews-prev-y: 95px;
$slid-reviews-prev-offset-x: -322px;
$slid-reviews-prev-offset-y: -95px;
$slid-reviews-prev-width: 19px;
$slid-reviews-prev-height: 36px;
$slid-reviews-prev-total-width: 354px;
$slid-reviews-prev-total-height: 347px;
$slid-reviews-prev-image: '../images/sprite.png';
$slid-reviews-prev: (322px, 95px, -322px, -95px, 19px, 36px, 354px, 347px, '../images/sprite.png', 'slid-reviews-prev', );
$thee-line-up-name: 'thee-line-up';
$thee-line-up-x: 37px;
$thee-line-up-y: 300px;
$thee-line-up-offset-x: -37px;
$thee-line-up-offset-y: -300px;
$thee-line-up-width: 36px;
$thee-line-up-height: 46px;
$thee-line-up-total-width: 354px;
$thee-line-up-total-height: 347px;
$thee-line-up-image: '../images/sprite.png';
$thee-line-up: (37px, 300px, -37px, -300px, 36px, 46px, 354px, 347px, '../images/sprite.png', 'thee-line-up', );
$thee-line-name: 'thee-line';
$thee-line-x: 0px;
$thee-line-y: 300px;
$thee-line-offset-x: 0px;
$thee-line-offset-y: -300px;
$thee-line-width: 37px;
$thee-line-height: 47px;
$thee-line-total-width: 354px;
$thee-line-total-height: 347px;
$thee-line-image: '../images/sprite.png';
$thee-line: (0px, 300px, 0px, -300px, 37px, 47px, 354px, 347px, '../images/sprite.png', 'thee-line', );
$tw-ico-name: 'tw-ico';
$tw-ico-x: 322px;
$tw-ico-y: 163px;
$tw-ico-offset-x: -322px;
$tw-ico-offset-y: -163px;
$tw-ico-width: 27px;
$tw-ico-height: 21px;
$tw-ico-total-width: 354px;
$tw-ico-total-height: 347px;
$tw-ico-image: '../images/sprite.png';
$tw-ico: (322px, 163px, -322px, -163px, 27px, 21px, 354px, 347px, '../images/sprite.png', 'tw-ico', );
$spritesheet-width: 354px;
$spritesheet-height: 347px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($brend-1, $burger-button, $in-ico, $list-chek, $logo-footer, $methodol-1, $methodol-2, $methodol-3, $methodol-4, $methodol-5, $methodol-equally, $methodol-plus, $nav-ico-1, $nav-ico-2, $nav-ico-3, $nav-ico-4, $our-plus-1, $our-plus-2, $our-plus-3, $slid-reviews-next, $slid-reviews-prev, $thee-line-up, $thee-line, $tw-ico, );
$spritesheet: (354px, 347px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
