/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$brend-1-name: 'brend-1';
$brend-1-x: 244px;
$brend-1-y: 50px;
$brend-1-offset-x: -244px;
$brend-1-offset-y: -50px;
$brend-1-width: 110px;
$brend-1-height: 59px;
$brend-1-total-width: 431px;
$brend-1-total-height: 362px;
$brend-1-image: '../images/sprite.png';
$brend-1: (244px, 50px, -244px, -50px, 110px, 59px, 431px, 362px, '../images/sprite.png', 'brend-1', );
$burger-button-name: 'burger-button';
$burger-button-x: 408px;
$burger-button-y: 86px;
$burger-button-offset-x: -408px;
$burger-button-offset-y: -86px;
$burger-button-width: 23px;
$burger-button-height: 18px;
$burger-button-total-width: 431px;
$burger-button-total-height: 362px;
$burger-button-image: '../images/sprite.png';
$burger-button: (408px, 86px, -408px, -86px, 23px, 18px, 431px, 362px, '../images/sprite.png', 'burger-button', );
$close-menu-name: 'close-menu';
$close-menu-x: 192px;
$close-menu-y: 73px;
$close-menu-offset-x: -192px;
$close-menu-offset-y: -73px;
$close-menu-width: 19px;
$close-menu-height: 19px;
$close-menu-total-width: 431px;
$close-menu-total-height: 362px;
$close-menu-image: '../images/sprite.png';
$close-menu: (192px, 73px, -192px, -73px, 19px, 19px, 431px, 362px, '../images/sprite.png', 'close-menu', );
$how-icon-1-name: 'how-icon-1';
$how-icon-1-x: 354px;
$how-icon-1-y: 50px;
$how-icon-1-offset-x: -354px;
$how-icon-1-offset-y: -50px;
$how-icon-1-width: 54px;
$how-icon-1-height: 54px;
$how-icon-1-total-width: 431px;
$how-icon-1-total-height: 362px;
$how-icon-1-image: '../images/sprite.png';
$how-icon-1: (354px, 50px, -354px, -50px, 54px, 54px, 431px, 362px, '../images/sprite.png', 'how-icon-1', );
$how-icon-2-name: 'how-icon-2';
$how-icon-2-x: 192px;
$how-icon-2-y: 100px;
$how-icon-2-offset-x: -192px;
$how-icon-2-offset-y: -100px;
$how-icon-2-width: 42px;
$how-icon-2-height: 52px;
$how-icon-2-total-width: 431px;
$how-icon-2-total-height: 362px;
$how-icon-2-image: '../images/sprite.png';
$how-icon-2: (192px, 100px, -192px, -100px, 42px, 52px, 431px, 362px, '../images/sprite.png', 'how-icon-2', );
$how-icon-3-name: 'how-icon-3';
$how-icon-3-x: 149px;
$how-icon-3-y: 173px;
$how-icon-3-offset-x: -149px;
$how-icon-3-offset-y: -173px;
$how-icon-3-width: 53px;
$how-icon-3-height: 53px;
$how-icon-3-total-width: 431px;
$how-icon-3-total-height: 362px;
$how-icon-3-image: '../images/sprite.png';
$how-icon-3: (149px, 173px, -149px, -173px, 53px, 53px, 431px, 362px, '../images/sprite.png', 'how-icon-3', );
$how-icon-4-name: 'how-icon-4';
$how-icon-4-x: 347px;
$how-icon-4-y: 187px;
$how-icon-4-offset-x: -347px;
$how-icon-4-offset-y: -187px;
$how-icon-4-width: 56px;
$how-icon-4-height: 36px;
$how-icon-4-total-width: 431px;
$how-icon-4-total-height: 362px;
$how-icon-4-image: '../images/sprite.png';
$how-icon-4: (347px, 187px, -347px, -187px, 56px, 36px, 431px, 362px, '../images/sprite.png', 'how-icon-4', );
$how-icon-5-name: 'how-icon-5';
$how-icon-5-x: 156px;
$how-icon-5-y: 239px;
$how-icon-5-offset-x: -156px;
$how-icon-5-offset-y: -239px;
$how-icon-5-width: 47px;
$how-icon-5-height: 59px;
$how-icon-5-total-width: 431px;
$how-icon-5-total-height: 362px;
$how-icon-5-image: '../images/sprite.png';
$how-icon-5: (156px, 239px, -156px, -239px, 47px, 59px, 431px, 362px, '../images/sprite.png', 'how-icon-5', );
$how-icon-6-name: 'how-icon-6';
$how-icon-6-x: 291px;
$how-icon-6-y: 239px;
$how-icon-6-offset-x: -291px;
$how-icon-6-offset-y: -239px;
$how-icon-6-width: 16px;
$how-icon-6-height: 28px;
$how-icon-6-total-width: 431px;
$how-icon-6-total-height: 362px;
$how-icon-6-image: '../images/sprite.png';
$how-icon-6: (291px, 239px, -291px, -239px, 16px, 28px, 431px, 362px, '../images/sprite.png', 'how-icon-6', );
$in-ico-name: 'in-ico';
$in-ico-x: 171px;
$in-ico-y: 73px;
$in-ico-offset-x: -171px;
$in-ico-offset-y: -73px;
$in-ico-width: 21px;
$in-ico-height: 21px;
$in-ico-total-width: 431px;
$in-ico-total-height: 362px;
$in-ico-image: '../images/sprite.png';
$in-ico: (171px, 73px, -171px, -73px, 21px, 21px, 431px, 362px, '../images/sprite.png', 'in-ico', );
$list-chek-min-name: 'list-chek-min';
$list-chek-min-x: 400px;
$list-chek-min-y: 109px;
$list-chek-min-offset-x: -400px;
$list-chek-min-offset-y: -109px;
$list-chek-min-width: 30px;
$list-chek-min-height: 30px;
$list-chek-min-total-width: 431px;
$list-chek-min-total-height: 362px;
$list-chek-min-image: '../images/sprite.png';
$list-chek-min: (400px, 109px, -400px, -109px, 30px, 30px, 431px, 362px, '../images/sprite.png', 'list-chek-min', );
$list-chek-name: 'list-chek';
$list-chek-x: 138px;
$list-chek-y: 100px;
$list-chek-offset-x: -138px;
$list-chek-offset-y: -100px;
$list-chek-width: 54px;
$list-chek-height: 53px;
$list-chek-total-width: 431px;
$list-chek-total-height: 362px;
$list-chek-image: '../images/sprite.png';
$list-chek: (138px, 100px, -138px, -100px, 54px, 53px, 431px, 362px, '../images/sprite.png', 'list-chek', );
$logo-footer-name: 'logo-footer';
$logo-footer-x: 0px;
$logo-footer-y: 0px;
$logo-footer-offset-x: 0px;
$logo-footer-offset-y: 0px;
$logo-footer-width: 106px;
$logo-footer-height: 100px;
$logo-footer-total-width: 431px;
$logo-footer-total-height: 362px;
$logo-footer-image: '../images/sprite.png';
$logo-footer: (0px, 0px, 0px, 0px, 106px, 100px, 431px, 362px, '../images/sprite.png', 'logo-footer', );
$logos-two-name: 'logos-two';
$logos-two-x: 0px;
$logos-two-y: 173px;
$logos-two-offset-x: 0px;
$logos-two-offset-y: -173px;
$logos-two-width: 149px;
$logos-two-height: 66px;
$logos-two-total-width: 431px;
$logos-two-total-height: 362px;
$logos-two-image: '../images/sprite.png';
$logos-two: (0px, 173px, 0px, -173px, 149px, 66px, 431px, 362px, '../images/sprite.png', 'logos-two', );
$methodol-1-name: 'methodol-1';
$methodol-1-x: 295px;
$methodol-1-y: 187px;
$methodol-1-offset-x: -295px;
$methodol-1-offset-y: -187px;
$methodol-1-width: 52px;
$methodol-1-height: 40px;
$methodol-1-total-width: 431px;
$methodol-1-total-height: 362px;
$methodol-1-image: '../images/sprite.png';
$methodol-1: (295px, 187px, -295px, -187px, 52px, 40px, 431px, 362px, '../images/sprite.png', 'methodol-1', );
$methodol-2-name: 'methodol-2';
$methodol-2-x: 244px;
$methodol-2-y: 187px;
$methodol-2-offset-x: -244px;
$methodol-2-offset-y: -187px;
$methodol-2-width: 51px;
$methodol-2-height: 43px;
$methodol-2-total-width: 431px;
$methodol-2-total-height: 362px;
$methodol-2-image: '../images/sprite.png';
$methodol-2: (244px, 187px, -244px, -187px, 51px, 43px, 431px, 362px, '../images/sprite.png', 'methodol-2', );
$methodol-3-name: 'methodol-3';
$methodol-3-x: 247px;
$methodol-3-y: 239px;
$methodol-3-offset-x: -247px;
$methodol-3-offset-y: -239px;
$methodol-3-width: 44px;
$methodol-3-height: 43px;
$methodol-3-total-width: 431px;
$methodol-3-total-height: 362px;
$methodol-3-image: '../images/sprite.png';
$methodol-3: (247px, 239px, -247px, -239px, 44px, 43px, 431px, 362px, '../images/sprite.png', 'methodol-3', );
$methodol-4-name: 'methodol-4';
$methodol-4-x: 203px;
$methodol-4-y: 239px;
$methodol-4-offset-x: -203px;
$methodol-4-offset-y: -239px;
$methodol-4-width: 44px;
$methodol-4-height: 44px;
$methodol-4-total-width: 431px;
$methodol-4-total-height: 362px;
$methodol-4-image: '../images/sprite.png';
$methodol-4: (203px, 239px, -203px, -239px, 44px, 44px, 431px, 362px, '../images/sprite.png', 'methodol-4', );
$methodol-5-name: 'methodol-5';
$methodol-5-x: 106px;
$methodol-5-y: 73px;
$methodol-5-offset-x: -106px;
$methodol-5-offset-y: -73px;
$methodol-5-width: 38px;
$methodol-5-height: 25px;
$methodol-5-total-width: 431px;
$methodol-5-total-height: 362px;
$methodol-5-image: '../images/sprite.png';
$methodol-5: (106px, 73px, -106px, -73px, 38px, 25px, 431px, 362px, '../images/sprite.png', 'methodol-5', );
$methodol-equally-name: 'methodol-equally';
$methodol-equally-x: 211px;
$methodol-equally-y: 73px;
$methodol-equally-offset-x: -211px;
$methodol-equally-offset-y: -73px;
$methodol-equally-width: 25px;
$methodol-equally-height: 14px;
$methodol-equally-total-width: 431px;
$methodol-equally-total-height: 362px;
$methodol-equally-image: '../images/sprite.png';
$methodol-equally: (211px, 73px, -211px, -73px, 25px, 14px, 431px, 362px, '../images/sprite.png', 'methodol-equally', );
$methodol-plus-name: 'methodol-plus';
$methodol-plus-x: 403px;
$methodol-plus-y: 187px;
$methodol-plus-offset-x: -403px;
$methodol-plus-offset-y: -187px;
$methodol-plus-width: 26px;
$methodol-plus-height: 26px;
$methodol-plus-total-width: 431px;
$methodol-plus-total-height: 362px;
$methodol-plus-image: '../images/sprite.png';
$methodol-plus: (403px, 187px, -403px, -187px, 26px, 26px, 431px, 362px, '../images/sprite.png', 'methodol-plus', );
$nav-ico-1-name: 'nav-ico-1';
$nav-ico-1-x: 244px;
$nav-ico-1-y: 109px;
$nav-ico-1-offset-x: -244px;
$nav-ico-1-offset-y: -109px;
$nav-ico-1-width: 78px;
$nav-ico-1-height: 78px;
$nav-ico-1-total-width: 431px;
$nav-ico-1-total-height: 362px;
$nav-ico-1-image: '../images/sprite.png';
$nav-ico-1: (244px, 109px, -244px, -109px, 78px, 78px, 431px, 362px, '../images/sprite.png', 'nav-ico-1', );
$nav-ico-2-name: 'nav-ico-2';
$nav-ico-2-x: 0px;
$nav-ico-2-y: 239px;
$nav-ico-2-offset-x: 0px;
$nav-ico-2-offset-y: -239px;
$nav-ico-2-width: 78px;
$nav-ico-2-height: 77px;
$nav-ico-2-total-width: 431px;
$nav-ico-2-total-height: 362px;
$nav-ico-2-image: '../images/sprite.png';
$nav-ico-2: (0px, 239px, 0px, -239px, 78px, 77px, 431px, 362px, '../images/sprite.png', 'nav-ico-2', );
$nav-ico-3-name: 'nav-ico-3';
$nav-ico-3-x: 78px;
$nav-ico-3-y: 239px;
$nav-ico-3-offset-x: -78px;
$nav-ico-3-offset-y: -239px;
$nav-ico-3-width: 78px;
$nav-ico-3-height: 77px;
$nav-ico-3-total-width: 431px;
$nav-ico-3-total-height: 362px;
$nav-ico-3-image: '../images/sprite.png';
$nav-ico-3: (78px, 239px, -78px, -239px, 78px, 77px, 431px, 362px, '../images/sprite.png', 'nav-ico-3', );
$nav-ico-4-name: 'nav-ico-4';
$nav-ico-4-x: 322px;
$nav-ico-4-y: 109px;
$nav-ico-4-offset-x: -322px;
$nav-ico-4-offset-y: -109px;
$nav-ico-4-width: 78px;
$nav-ico-4-height: 78px;
$nav-ico-4-total-width: 431px;
$nav-ico-4-total-height: 362px;
$nav-ico-4-image: '../images/sprite.png';
$nav-ico-4: (322px, 109px, -322px, -109px, 78px, 78px, 431px, 362px, '../images/sprite.png', 'nav-ico-4', );
$our-plus-1-name: 'our-plus-1';
$our-plus-1-x: 0px;
$our-plus-1-y: 100px;
$our-plus-1-offset-x: 0px;
$our-plus-1-offset-y: -100px;
$our-plus-1-width: 138px;
$our-plus-1-height: 73px;
$our-plus-1-total-width: 431px;
$our-plus-1-total-height: 362px;
$our-plus-1-image: '../images/sprite.png';
$our-plus-1: (0px, 100px, 0px, -100px, 138px, 73px, 431px, 362px, '../images/sprite.png', 'our-plus-1', );
$our-plus-2-name: 'our-plus-2';
$our-plus-2-x: 244px;
$our-plus-2-y: 0px;
$our-plus-2-offset-x: -244px;
$our-plus-2-offset-y: 0px;
$our-plus-2-width: 187px;
$our-plus-2-height: 50px;
$our-plus-2-total-width: 431px;
$our-plus-2-total-height: 362px;
$our-plus-2-image: '../images/sprite.png';
$our-plus-2: (244px, 0px, -244px, 0px, 187px, 50px, 431px, 362px, '../images/sprite.png', 'our-plus-2', );
$our-plus-3-name: 'our-plus-3';
$our-plus-3-x: 106px;
$our-plus-3-y: 0px;
$our-plus-3-offset-x: -106px;
$our-plus-3-offset-y: 0px;
$our-plus-3-width: 138px;
$our-plus-3-height: 73px;
$our-plus-3-total-width: 431px;
$our-plus-3-total-height: 362px;
$our-plus-3-image: '../images/sprite.png';
$our-plus-3: (106px, 0px, -106px, 0px, 138px, 73px, 431px, 362px, '../images/sprite.png', 'our-plus-3', );
$slid-reviews-next-name: 'slid-reviews-next';
$slid-reviews-next-x: 400px;
$slid-reviews-next-y: 139px;
$slid-reviews-next-offset-x: -400px;
$slid-reviews-next-offset-y: -139px;
$slid-reviews-next-width: 19px;
$slid-reviews-next-height: 36px;
$slid-reviews-next-total-width: 431px;
$slid-reviews-next-total-height: 362px;
$slid-reviews-next-image: '../images/sprite.png';
$slid-reviews-next: (400px, 139px, -400px, -139px, 19px, 36px, 431px, 362px, '../images/sprite.png', 'slid-reviews-next', );
$slid-reviews-prev-name: 'slid-reviews-prev';
$slid-reviews-prev-x: 408px;
$slid-reviews-prev-y: 50px;
$slid-reviews-prev-offset-x: -408px;
$slid-reviews-prev-offset-y: -50px;
$slid-reviews-prev-width: 19px;
$slid-reviews-prev-height: 36px;
$slid-reviews-prev-total-width: 431px;
$slid-reviews-prev-total-height: 362px;
$slid-reviews-prev-image: '../images/sprite.png';
$slid-reviews-prev: (408px, 50px, -408px, -50px, 19px, 36px, 431px, 362px, '../images/sprite.png', 'slid-reviews-prev', );
$thee-line-up-name: 'thee-line-up';
$thee-line-up-x: 0px;
$thee-line-up-y: 316px;
$thee-line-up-offset-x: 0px;
$thee-line-up-offset-y: -316px;
$thee-line-up-width: 36px;
$thee-line-up-height: 46px;
$thee-line-up-total-width: 431px;
$thee-line-up-total-height: 362px;
$thee-line-up-image: '../images/sprite.png';
$thee-line-up: (0px, 316px, 0px, -316px, 36px, 46px, 431px, 362px, '../images/sprite.png', 'thee-line-up', );
$thee-line-name: 'thee-line';
$thee-line-x: 202px;
$thee-line-y: 173px;
$thee-line-offset-x: -202px;
$thee-line-offset-y: -173px;
$thee-line-width: 37px;
$thee-line-height: 47px;
$thee-line-total-width: 431px;
$thee-line-total-height: 362px;
$thee-line-image: '../images/sprite.png';
$thee-line: (202px, 173px, -202px, -173px, 37px, 47px, 431px, 362px, '../images/sprite.png', 'thee-line', );
$tw-ico-name: 'tw-ico';
$tw-ico-x: 144px;
$tw-ico-y: 73px;
$tw-ico-offset-x: -144px;
$tw-ico-offset-y: -73px;
$tw-ico-width: 27px;
$tw-ico-height: 21px;
$tw-ico-total-width: 431px;
$tw-ico-total-height: 362px;
$tw-ico-image: '../images/sprite.png';
$tw-ico: (144px, 73px, -144px, -73px, 27px, 21px, 431px, 362px, '../images/sprite.png', 'tw-ico', );
$spritesheet-width: 431px;
$spritesheet-height: 362px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($brend-1, $burger-button, $close-menu, $how-icon-1, $how-icon-2, $how-icon-3, $how-icon-4, $how-icon-5, $how-icon-6, $in-ico, $list-chek-min, $list-chek, $logo-footer, $logos-two, $methodol-1, $methodol-2, $methodol-3, $methodol-4, $methodol-5, $methodol-equally, $methodol-plus, $nav-ico-1, $nav-ico-2, $nav-ico-3, $nav-ico-4, $our-plus-1, $our-plus-2, $our-plus-3, $slid-reviews-next, $slid-reviews-prev, $thee-line-up, $thee-line, $tw-ico, );
$spritesheet: (431px, 362px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
